body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Slightly lighter black */
    color: #fff; /* Ensures text is white */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts spacing to push items to edges */
    padding-left: 20px; /* Adds padding to the left of the content */
    padding-right: 20px; /* Adds padding to the right of the content */
}

.icon {
    border-radius: 50%; /* Circular shape */
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    padding-right: 10px; /* Adds some padding to the right of the logo */
}

.site-title {
    margin: 0;
    font-size: 24px; /* Adjust based on your preference */
    flex-grow: 1; /* Allows the title to take up necessary space and push nav to the right */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Aligns navigation items horizontally */
    gap: 20px; /* Adds space between navigation items */
    margin: 0; /* Removes default margin */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.welcome h2 {
    text-align: center;
    margin-top: 50px;
    color: #fff; /* Ensure the welcome message is white */
}